<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>fistDBDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E79FA82B1D758C740080EB0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E79FA8441D758C740080EB0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E79FA84F1D758C740080EB0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
